@{
    Layout = "~/Views/_DemoLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    <div>
        Welcome to our MVC Demo!
    </div>
</body>
</html>
